@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	background-color: #FAFAFA;
	padding-top: 56px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

.header {
	background-color: #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding: 8px 16px;
}

.header__logo {
	display: inline-block;
	height: 40px;
}

.header__logo img {
	height: 100%;
}

.header__icon {
	font-size: 1.6rem;
	padding-top: 10px;
}
.container {
	width: 100%;
	margin: 0 auto;
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.stories {
	padding: 16px 0;
	width: 100%;
}

.stories .stories__item {
	width: 78px;
    height: 78px;
    margin: 0 8px;
    justify-content: center;
    align-items: center;
}

.stories__item--status {
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
}

.stories__item {
	display: flex;
    border-radius: 100%;
    overflow: hidden;
}

.stories__item img {
	height: 100%;
	width: 100%;
}

.stories .stories__image {
	height: 72px;
    width: 72px;
}

.stories__image {
	border-radius: 100%;
    border: 2px solid white;
    display: inline-block;
    overflow: hidden;
}

.user__thumb img {
    height: 100%;
    width: 100%;
}
.stories__content {
	display: flex;
	justify-content: flex-start;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .1);
	margin-bottom: 30px;
}

.card__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
}

.profile {
	display: flex;
	align-items: center;
}

.profile__action {
	font-size: 1.4rem;
}

.profile .profile__image {
	border-radius: 100%;
	height: 40px;
	width: 40px;
	margin-right: 8px;
}

.profile_name {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 1.2rem;
}

.card__content {
	overflow: hidden;
    margin: 0;
    height: auto;
    width: 100%;
}

.card__content img {
	width: 100%;
}

.post_actions {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 4px 0;
	width: 100%;
}

.post_actions__button {
	font-size: 2.4rem;
    margin: 0 8px;
}

button {
	background-color: transparent;
	border: none;
    box-shadow: none;
    outline: none;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.post_action_icon {
	font-size: 2.4rem;
    margin: 0 8px;
}

.post_action_icon:last-of-type {
    justify-self: flex-end;
    margin-left: auto;
}

.post__reactions {
	display: flex;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.05);
}

.post_actions .post__info {
	height: 30px;
    width: 30px;
    margin-right: 8px;
}

.post__info {
	display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post__info span {
	font-size: 1.2rem;
}

.post__reactions .profile__image {
    height: 30px;
	width: 30px;
	margin-right: 8px;
}

.profile__image img {
	height: 100%;
	width: 100%;
	border-radius: 100%;
}

img {
	border: 0;
}

@media screen and (min-width: 728px){
	.container {
		width: 728px;
	}
}
